
@font-face {
  font-family: "Avenir-Book";
  src: url("../../dist/fonts/Avenir/Avenir-Book.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../../dist/fonts/Avenir/Avenir-Heavy.ttf");
  font-style: normal;
}
