.footer {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  align-items: center;
  height: 215px;
  grid-gap: 300px;
  margin-top: 90px;
  border-top: 1px solid #e1e7ed;

  &__heading {
    display: block;
    font-family: "Avenir-Heavy", sans-serif;
    margin-bottom: 20px;
  }

  &__text {
    display: block;
    white-space: nowrap;
    margin-bottom: 10px;
  }
}

@media screen and ( max-width: 900px ) {
  .footer {
    justify-content: space-between;
    grid-gap: 0;
    padding: 20px;
  }
}

@media screen and ( max-width: 400px ) {
  .footer {
    grid-template-columns: 100px;
    justify-content: center;

    &__heading {
      margin-top: 30px;
    }
  }
}
